<!-- View for showing all `Post` -->
<!-- Search bar -->
<html>
<body style="background-color: gray; text-align: center">
<div style="text-align: center">
<%= form_tag(posts_path, method: :get) do %>
<%= text_field_tag :title, params[:title] %>
<%= submit_tag 'Search', :title => nil %>
<% end %>


<!-- List of  Posts -->
<h1> List of Posts </h1>
<h3><%= link_to 'New Post', new_post_path %></h3>
<% @post.each do |post| %>
<h1><%= post.title %></h1>
<h3><%= post.body %></h3>
<p>
	<%= link_to 'Show', post_path(post) %>
Comments<%= link_to post.comments.count, post_path(post) %></p>
</div>
<% end %>
</body>
</html>