<!-- View for creating a new `Post` -->
<!-- See http://guides.rubyonrails.org/form_helpers.html#dealing-with-basic-forms for more information -->
<html>
<body style="background-color: gray; text-align: center">
<h1> New Post</h1>
<%= form_with scope: :post, url: posts_path, local: true do |form| %>
	<p>
		<%= form.label :title %><br>
		<%= form.text_field :title, size: "60x10" %>
	</p>
	<p>
		<%= form.label :body %><br>
		<%= form.text_area :body, size: "60x10" %>
	</p>
	<p>
		<%= form.submit %>
	</p>
	<% end %>
</body>
</html>