<!-- View for showing a single `Post` -->
<html>
<body style="background-color: gray; text-align: center">
<h1>
	Title:
	<%= @post.title %>
</h1>

<h2>
	Body:
	<%= @post.body %>
</h2>

<table style = "display: inline-block">
<th><%= link_to 'Edit', edit_post_path(@post) %></th>
<th><%= link_to 'Delete', post_path(@post), method: :delete %></th>
</table>

<!--- Comments form-->
<h1>Comments</h1>
<%= form_with(model: [ @post, @post.comments.build ], local:true) do |form| %>
<p>
	<%= form.label :body %><br>
	<%= form.text_area :body, size: "60x10" %>
</p>
<p>
	<%= form.submit %>
</p>
<% end %>

<!--- Comments display-->
<% @post.comments.each do|comment| %>
<p>
	<h3><%= comment.body %></h3>
	<table style = "display: inline-block">
	<th><%= link_to 'Edit', [comment.post, comment] %></th>
	<th><%= link_to 'Delete', [comment.post, comment], method: :delete %></th>
</table>
</p>

<% end %>
</body>
</html>
